body
	margin 0px
	padding 0px
	font-family "Open Sans"
	h1
		background-color #1abc9c
		padding 10px
		text-align center
	table
		margin 10px
		border-collapse collapse
		tr
			.info
				width 60px
				text-align center
				font-size 12px
				.hour
					color #555
					display block
					.seconds
						font-size 8px
				.date
					color #888
					font-size 10px
					display block
			td
				border-bottom 1px dotted #CCC
				padding 5px
			&[state='true']
				background-color #CBF2C7